<% if (page.posts.length > 0) { %>
  <!-- 最近 posts 文章列表 -->
  <div class="recent-posts">
    <% page.posts.sort('date', -1).limit(10).each(post => { %>
      <div class="recent-post-item">
        <a href="<%= url_for(post.path) %>">
          <div class="post-item-bg"></div>
        </a>
        <div class="post-categories">
          <% post.categories.each(function(categorie){%><a href="<%- url_for(categorie.path) %>" class="post-categorie-item"><%= categorie.name %></a><% }) %>
        </div>
        <div class="post-item-info">
          <a href="<%= url_for(post.path) %>"><div class="title" title="<%= post.title %>"><%= post.title %></div></a>
          <p class="time">
            <span>
              <i class="iconfont icon-rili iconfont-size"></i>
              <span>发表于</span>
              <time datetime="<%=date_xml(post.date)%>"> <%=date(post.date)%></time>
            </span>
            <span class="split">|</span>
            <span>
              <i class="iconfont icon-shijian iconfont-size"></i>
              <span>更新于</span>
              <time datetime="<%=date_xml(post.updated)%>"><%=date(post.updated)%></time>
            </span>
          </p>
          <p class="tag">
            <% post.tags.each(function(tag){ %><a href="<%- url_for(tag.path) %>" class="tag">#<%=tag.name%></a><% }) %>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>
