<%-partial('widgets/header', {}, {cache: true})%>

<div id="category">
  <!-- <h1><%=page.category%></h1> -->
  
  <div id="category-left-aside" class="category-left-aside">
    <%- list_categories(site.categories) %>
  </div>
  <div class="category-md-content">
  <% if (page.posts) { %>
    <% page.posts.each(article => { %>
      <div class="category-item">
        <a href="<%=url_for(article.path)%>">
          <%=article.title%>
        </a>
        <time datetime="<%=date_xml(article.date)%>">
          <%=date(article.date)%>
        </time>
      </div>
    <% }); %>
  <% } %>
  </div>
  <div id="category-right-aside" class="category-right-aside">
    <%-partial('partials/personal-info')%>
    
  </div>
</div>

