<%-partial('widgets/header', {}, {cache: true})%>

<section class="content">
  <div class="left">
    <%-partial('partials/recent-posts')%>

    <!-- 分页 -->
    <%-partial('widgets/paginator')%>
  </div>
  <div class="right">
    <div class="info-box"><%-partial('partials/personal-info')%></div>
    <div class="list-box"><%-partial('partials/tag-list')%></div>
  </div>
</section>