<% 
  var pageTitle=page.title || config.subtitle || '' ; 
  if (is_archive()) pageTitle='Archives' ; 
  if (is_tag()) pageTitle='Tag: ' + page.tag; 
  if (is_category()) pageTitle='Category: ' + page.category; 
  if (is_month()) pageTitle+=': ' + page.month + '/' + page.year; 
  if (is_year()) pageTitle +=': ' + page.year; 
  pageTitle +=' [ ' + config.title+ ' ]' ; 
%>

  <!DOCTYPE html>
  <html lang="<%=config.language%>">

  <head>
    <meta charset="UTF-8">
    <title>
      <%=pageTitle%>
    </title>
    <link rel="icon" href="<%= url_for('/images/favicon.ico') %>" />
    <% if (theme.stylesheets !==undefined && theme.stylesheets.length> 0) { %>
      <!-- stylesheets list from _config.yml -->
      <% theme.stylesheets.forEach(url=> { %>
        <link rel="stylesheet" href="<%=url_for(url)%>">
      <% }); %>
    <% } %>
  </head>

  <body>
    <div id="content-outer">
       <%- body %> 
    </div>

    <div id="bottom-outer">
      <p>©2023-04-23 <%=config.author%></p>
      <p>
        <a class="github-badge" target="_blank" href="https://hexo.io/" style="margin-inline:5px"
          data-title="博客框架为Hexo_v5.4.0" title="博客框架为Hexo_v5.4.0"><img
            src="https://npm.elemecdn.com/anzhiyu-blog@2.1.5/img/badge/Frame-Hexo.svg"
            data-lazy-src="https://npm.elemecdn.com/anzhiyu-blog@2.1.5/img/badge/Frame-Hexo.svg" alt="博客框架为Hexo_v5.4.0"
            data-ll-status="loaded" class="entered loaded"/></a>
        <a class="github-badge" target="_blank" href="https://github.com/" style="margin-inline:5px"
          data-title="本站项目由Github托管" title="本站项目由Github托管"><img
            src="https://npm.elemecdn.com/anzhiyu-blog@2.1.5/img/badge/Source-Github.svg"
            data-lazy-src="https://npm.elemecdn.com/anzhiyu-blog@2.1.5/img/badge/Source-Github.svg" alt="本站项目由Github托管"
            data-ll-status="loaded" class="entered loaded"/></a>
      </p>
    </div>

    <!-- 悬浮工具 -->
    <div id="tool-box">
     <div class="tool-item"><i class="iconfont icon-youxiang iconfont-size"></i></div>
     <div class="tool-item"><i class="iconfont icon-shezhi iconfont-size"></i></div>
     <div class="tool-item" onclick="toTop()"><i class="iconfont icon-xiangshang3 iconfont-size"></i></div>
    </div>

    <!-- 控制台打印信息 -->
    <% if (theme.console.enable) { %>
      <%-partial('console/log-script', {}, {cache: true})%>
    <% } %>

    <% if (theme.preloader.enable) { %>
      <%-partial('loading/index', {}, {cache: true})%>
    <% } %>

    <% if (theme.scripts !==undefined && theme.scripts.length> 0) { %>
      <!-- scripts list from theme config.yml -->
      <% theme.scripts.forEach(url=> { %>
        <script src="<%=url_for(url)%>"></script>
      <% }); %>
    <% } %>

    <!-- 搜索 -->
    <% if (theme.search.enable) { %>
      <%-partial('widgets/search', {}, {cache: true})%>
    <% } %>
    <% if (config.search) { %>
    <script type="text/javascript">      
        var search_path = "<%= config.search.path %>";
        if (search_path.length == 0) {
          search_path = "search.xml";
        }
        var path = "<%= config.root %>" + search_path;
        searchFunc(path, 'local-search-input', 'local-search-result');
    </script>
    <% } %>
  </body>

  </html>