<%-partial('widgets/header', {}, {cache: true})%>

<article id="post" class="post-article">
  <input name="postTitle" type="hidden" value="<%=page.title%>"/>
  <input name="postId" type="hidden" value="<%=page._id%>"/>
  <header class="post-header">
    <section class="post-header-content">
      <h1><%=page.title%></h1>
      <p class="time">
          <i class="iconfont icon-rili iconfont-size"></i>
          <span>发表于</span>
          <time datetime="<%=date_xml(page.date)%>"> <%=date(page.date)%></time>
        <span class="split">|</span>
          <i class="iconfont icon-shijian iconfont-size"></i>
          <span>更新于</span>
          <time datetime="<%=date_xml(page.updated)%>"><%=date(page.updated)%></time>
      </p>
      <p class="tag">
        <% page.tags.each(function(tag){ %><a href="<%- url_for(tag.path) %>">#<%=tag.name%></a><% }) %>
      </p>
      <p class="world-statistics">
        <span>
          <i class="iconfont icon-wenben iconfont-size"></i>
          <span>字数总计：</span>
          <span><%=wordcount(page.content)%></span>
          <span>个</span>
        </span>
        <span class="split">|</span>
        <span>
          <i class="iconfont icon-yanjing iconfont-size"></i>
          <span>阅读时长：</span>
          <span><%=min2read(page.content)%></span>
          <span>分钟</span>
        </span>
      </p>
    </section>
  </header>

  <section class="post-content">
    <div id="post-left-aside" class="post-left-aside">
      <div class="post-list-box">
        <div id="post-tool">
          <i id="post-left" class="iconfont icon-jiantou_yemian_xiangzuo iconfont-size"></i>
          <i id="post-right" class="iconfont icon-jiantou_yemian_xiangyou iconfont-size"></i>
        </div>
        <%- menu_list(site) %>
      </div>
    </div>

    <div class="post-md-content">
      <div class="markdown-html">
        <%-page.content%>
      </div>

      <div class="post-tool">
        <div class="reward" title="打赏作者">
          <i class="iconfont icon-dashang-01 iconfont-size"></i>
          <span>打赏作者</span>
          <div class="reward-dialog">
            <div class="title">您的打赏是我前进的动力</div>
            <div class="pay-box">
              <span>
                <div class="wechat"></div>
                <div class="pay-title">微信</div>
              </span>
              <span>
                <div class="alipay"></div>
                <div class="pay-title">支付宝</div>
              </span>
            </div>
          </div>
        </div>
        <div class="copy-link" onclick="copyPageUrl()" title="复制链接"><i class="iconfont icon-charulianjie iconfont-size"></i></div>
      </div>

      <%-partial('widgets/twikoo')%>
    </div>

    <div id="post-right-aside" class="post-right-aside">
      <%-partial('partials/personal-info')%>
      <%-partial('partials/toc')%>
    </div>
  </section>

  <script>
    const addTableWrap = () => {
      const tableList = document.querySelectorAll("#post :not(.highlight) > table, #post > table");
      (tableList||[]).forEach(item => {
        addWrap(item, "div", { class: "table-wrap" });
      });
    };

    // 滚动条滑动到相应标题对应目录显示高亮
    const checkScrollHandel = (ev)=> {
        if($(ev.target).attr('class')==='toc'){
          return;
        }

        let topHeight = $(window).scrollTop(); // 屏幕位置
        const allEl = [...document.getElementsByClassName('headerlink')];

        // 找到需要高亮的标题
        let activeEl =  allEl.find((el,inx)=>{
          const yOffset = 90; // a 标签的偏移量为 menu 的高度（menu浮动，高度塌陷）
          let upperLimit = el.parentElement.offsetTop - yOffset;
          let lowerLimit = allEl[inx+1]?.parentElement.offsetTop - yOffset || +Infinity;
          return upperLimit<topHeight && topHeight<lowerLimit;
        });


        // 切换高亮标题
        const hash = activeEl?.href.split('#')[1];
        [...$('.post-toc  a')].forEach(el=>{ $(el).removeClass('active') });
        $(`.post-toc  a[href='#${hash}']`).addClass('active');


        // 如果要高亮的标题位于容器滚动条下，要放在容器里面
        const $continer = $('.post-toc .toc');
        const tocHeight = $continer.height(); // 容器高度 
        const offsetTop = $(`.post-toc  a[href='#${hash}']`)[0]?.offsetTop;

        if(offsetTop >= tocHeight){
          $continer[0].scrollTo({top: offsetTop - tocHeight + 100,behavior: "smooth"});
        }
        if(offsetTop < $continer.scrollTop()+20){
          $continer[0].scrollTo({top: 0, behavior: "smooth"});
        }
    }

  document.addEventListener("DOMContentLoaded", function () {
    addTableWrap(); // 给表格外套一层标签，否则样式会被污染

    document.removeEventListener("scroll", checkScrollHandel);
    document.addEventListener("scroll",checkScrollHandel, true);


    $('.cus-category-list').on( 'click', '.cus-category-list-item', function(e){
        let [child] = $(e.currentTarget).next();
        $(child).toggleClass('active');
        Array.from($(child).siblings()).forEach(el=>{ $(el).removeClass('active') });

        $(e.currentTarget).toggleClass('extend');
        Array.from($(e.currentTarget).siblings()).forEach(el=>{ $(el).removeClass('extend') });
    })

    $('.cus-category-list').on( 'click', '.cus-category-list-posts-item', function(e){
      $(e.currentTarget).addClass('active');

      let parent = $(e.currentTarget).parent('.cus-category-list-posts') || $(e.currentTarget).parent('.cus-category-list-child');
      while(parent.length){
        $(parent[0]).prev().addClass('extend');

        $(parent[0]).addClass('active');
        parent = $($(parent[0]).parent('.cus-category-list-posts')[0]||$(parent[0]).parent('.cus-category-list-child')[0]);
      }
    })


    try{
      let postId = $("input[name='postId']").val();
      // 获取文章的路径
      $(`#${postId}`).trigger('click');
    }catch(err){
      console.log(err);
    }

    try{
      $('#post-right').css('opacity', 0);
      // 工具栏的收缩与展开
      $('#post-left').on('click',function(){
        $("#post-left-aside").animate({ marginLeft: -310 },200);
        $('#post-left').animate({ 'opacity': 0},500);
        $('#post-right').animate({ 'opacity': 1 },500);

        localStorage.setItem('post-left-aside-isHide', true);
      })
      $('#post-right').on('click',function(){
        $('#post-left-aside').animate({ marginLeft: 0 },200);
        $('#post-left').animate({ 'opacity': 1 },500);
        $('#post-right').animate({ 'opacity': 0 },500);

        localStorage.setItem('post-left-aside-isHide', false);
      })

      if(JSON.parse(localStorage.getItem('post-left-aside-isHide'))){
        $('#post-left').trigger('click');
      }
    }catch(err){
      console.log(err);
    }

    try{
      // 附件下载：劫持 a.class = "attachment"，给其增加相对路径
      $('.markdown-html').on( 'click', '.attachment', function(e){
        let {baseURI,name} = e.currentTarget;
        console.log(baseURI);
        e.currentTarget.href = `${baseURI}/${name}`;
      });
    }catch(err){
      console.log(err);
    }

    try{
      // 自定义 img 样式
      $('.custom-img').each((inx, img)=>{
          let oldSrc = $(img).attr('src');
          $(img).attr('src',`${location.pathname}/${oldSrc}`);
      })
    }catch(err){
      console.log(err);
    }
    
  });
  </script>
</article>

<%-partial('widgets/paginator')%>