<div id="tag">
  <div class="left">
    <div class="tag-title">标签：<%=page.tag%></div>
    <!-- 生成 tagList -->
    <%-tag_list(page)%>
    <!-- 分页 -->
    <%-partial('widgets/paginator')%>
  </div>
  <div class="right">
    <div class="info-box"><%-partial('partials/personal-info')%></div>
    <div class="list-box"><%-partial('partials/tag-list')%></div>
  </div>
</div>