<div id="tag">
  <div class="left">
    <h1><%=page.tag%></h1>
    
    <%-tag_list(page)%>

    <% page.posts.each(article => { %>
      <div class="tag-item">
        <a href="<%=url_for(article.path)%>">
          <%=article.title%>
        </a>
        <time datetime="<%=date_xml(article.date)%>">
          <%=date(article.date)%>
        </time>
      </div>
    <% }) %>
    <%-partial('widgets/paginator')%>
  </div>
  <div class="right">
    <div class="info-box"><%-partial('partials/personal-info')%></div>
    <div class="list-box"><%-partial('partials/tag-list')%></div>
  </div>
</div>